head{
    background-color:blueviolet;
}

head{
    text-decoration-color:white;
}

head{
    text-align:center
}

head{
    text-decoration: wavy;
}

head{
    font-size: large;
}

body{
    background-color: aliceblue;
}